WindowsFormsApplication1/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Canvas_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Canvas_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderDetailes">
    <xs:sequence>
      <xs:element minOccurs="0" name="POB" type="xs:int" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deliveryMethod" type="xs:int" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pattern" type="xs:int" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="picturesList" nillable="true" type="tns:ArrayOfPictures" />
      <xs:element minOccurs="0" name="textsList" nillable="true" type="tns:ArrayOfText" />
      <xs:element minOccurs="0" name="zipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetailes" nillable="true" type="tns:OrderDetailes" />
  <xs:complexType name="ArrayOfPictures">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pictures" nillable="true" type="tns:Pictures" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPictures" nillable="true" type="tns:ArrayOfPictures" />
  <xs:complexType name="Pictures">
    <xs:sequence>
      <xs:element minOccurs="0" name="angle" type="xs:float" />
      <xs:element minOccurs="0" name="fileBody" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileSize" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="left" type="xs:float" />
      <xs:element minOccurs="0" name="size" type="xs:float" />
      <xs:element minOccurs="0" name="top" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pictures" nillable="true" type="tns:Pictures" />
  <xs:complexType name="ArrayOfText">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" nillable="true" type="tns:Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfText" nillable="true" type="tns:ArrayOfText" />
  <xs:complexType name="Text">
    <xs:sequence>
      <xs:element minOccurs="0" name="angle" type="xs:float" />
      <xs:element minOccurs="0" name="fontColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fontFamily" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fontSize" type="xs:int" />
      <xs:element minOccurs="0" name="left" type="xs:float" />
      <xs:element minOccurs="0" name="textBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="top" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Text" nillable="true" type="tns:Text" />
</xs:schema>